// custom styles for michaelbrooker.com, June 2020
// Author: Mike Brooker
// Revision: 0  23/06/2021


// using Bootstrap5 Beta

$bgcolor: rgb(202, 216, 243);
$hdcolor: rgb(27, 105, 165);
$bodycolor: rgb(3, 38, 58);
$hccolor: #91b4dd;
$hddcolor: #041c38;
$logolight: #168cdb;
$logodark: $hdcolor;
$h4color: #555555;

// sticky footer style
main > .container {
  padding: 60px 15px 0;
}

// card body styles
.card-body {
background-color: $hdcolor;
color: white;
}

body {
  background-color: $bgcolor;
  font-family: 'Verdana', sans-serif;
  font-size: medium;
  font-weight: normal;
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: $hdcolor; 
}

h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: normal;
  color:$hdcolor; }

h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: lighter;
  color:$hddcolor; }

  h4 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 600;
    color:$h4color; 
  }
// splash image
.bigBrandDark {
  color: $logodark;
}
.bigBrandLight {
  color: $logolight;
}
.footerBrand {
  color: $hddcolor;
  font-size: 1rem;
}

.nav-link {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
}
blockquote {
  border: 1px solid #b3b3b3;
  border-left: 10px solid $hdcolor;
  border-radius: 0px;
  background: $hddcolor;
  font-size: 18px;
  color: $hccolor;
  margin: 10px;
  padding: 10px 20px;
  }



.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;  
}

section {
    margin: auto;
    padding-top: 10px;
}
div#sectionleft {
    float: left;
    margin-right: 10px;
}
div#sectionright {
    margin: auto;
}
    
