---
title: "{{ replace .Name "-" " " | title }}"
date: {{ .Date }}
draft: 
type: 404
description: "Error"
keywords:
author: 
---
{{ define "main" }}
    <main id="main">
      <div class="text-center mt-5">
       <h1 class="display-2">
        Sorry, the page was not found: 404 error.    
        </h1>
        <h2 class="display-5">Looks like this page is not on our website</h2>
        <a class="mt-5 btn themed-button" href="{{ "/" | relURL }}">Go back to homepage</a>
      </div>
      
    </main>
{{ end }}
