
<div class="container">
<hr/>
<h3>Debugging menu / navigation</h3>
{{ $currentPage := . }}
<ul>
{{ range .Site.Menus.main }}
{{/* The context, ".", is now each one of the pages as it goes through the loop */}}

    {{ if $currentPage.HasMenuCurrent "main" . }}
        <li>HasMenuCurrent: {{ .Name }}</li>
    {{ else  }}
        <li> NOT: HasMenuCurrent: {{ .Name }}</li>
    
    {{ end }}
{{ end }}
</ul>
<hr/>
<ul>
{{ range .Site.Menus.main }}

{{/* The context, ".", is now each one of the pages as it goes through the loop */}}

    {{ if $currentPage.IsMenuCurrent "main" . }}
        {{- with .Page -}} 
u        <li>IsMenuCurrent: {{ .Name }}</li>
        {{ end }}
    {{ else  }}
        <li> NOT: IsMenuCurrent: {{ .Page }}{{ .Name }}</li>
    
    {{ end }}
{{ end }}
</ul>
<hr/>
<ul>
{{ $currentPage := . }}
{{ range .Site.Menus.main }}
    <li class="nav-item{{ if eq $currentPage.URL .Identifier }} active{{ end }}"><a href="{{ .URL }}">{{ .Menu }} - id = {{ .Identifier }} .URL = {{ .URL }}</a></li>
{{ end }}
</ul>
<hr/>
