<head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ .Description }} - Mike Brooker online" />
    <meta keywords="description" content="{{ .Keywords }}"/> 
    <meta name="author" content="{{- .Site.Author -}}"/>
    <meta name="dc.relation" content="{{ .Site.BaseURL }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#1A94D2" />

    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600;700&display=swap" rel="stylesheet">
    {{- $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed") -}}
    {{- $style := resources.Get "sass/main.scss" | toCSS  $options | minify -}}
   
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
</head>
