<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/img/ds-icon.png" width="52" height="24"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}

        {{ if .HasChildren }}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ .Name }}</a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{ range .Children }}
            <li><a class="dropdown-item" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
          {{ end }}
         </ul>
      </li>

        {{ else }}

        <li class="nav-item">
          <a class="nav-link{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        </li>

        {{ end }}

    {{ end }}
    
      </ul>
    </div>
  </div>
</nav>


