<footer class="footer mt-auto py-3 bg-med">
    <div class="container">
        <h4>St John's Walton</h4>

     <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
     
     <div class="col">
       <div class="card mt-2">
         <div class="card-body">
               	
                Walton Back Lane<br />
                Chesterfield<br />
                Derbyshire<br /> 
                S42 7LT<br />
                w: www.stjohnswalton.co.uk<br />
            </div>
       </div>
     </div>
     
     <div class="col">
       <div class="card mt-2">
         <div class="card-body">
                Church Office<br />
                T:  01246 566205<br />
                E:  office@stjohnswalton.co.uk<br />
                Office hours:<br />
                Monday - Thursday 09:00-13:00<br />
                Friday - Closed (Key collection by appointment)<br />
         </div>
       </div>
     </div>

     <div class="col">
       <div class="card mt-2">
         <div class="card-body">
                Vicar:<br />
                Revd Nick Green CA<br />
                T: 01246 55581<br />
                E: vicar@stjohnswalton.co.uk<br />
            </div>
       </div>
    </div>




</div>
