<div class="container mt-auto py-3 bg-med">

 <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 bg-light">
     
    <div class="col">
      <div class="card mt-2">
        <div class="card-body">
          Office: Mon-Thurs 9am-1pm<br>
          T:  01246 566205<br>
            E:  office@stjohnswalton.co.uk<br>
         </div>
       </div>
     </div>

     <div class="col">
       <div class="card mt-2">
         <div class="card-body">
                Vicar: Revd Nick Green CA<br>
                T: 01246&nbsp;555881<br>
                E: vicar@stjohnswalton.co.uk<br>
         </div>
       </div>
    </div>

     <div class="col">
       <div class="card mt-2">
         <div class="card-body">
          St John's, Walton Back Lane,<br>
          Chesterfield S42&nbsp;7LT<br>
          <a href=" https://maps.app.goo.gl/t2dzmSbYZ5DP68yZ9" target="_blank" rel="noopener noreferrer ">Google Maps reference</a> 
        </div>
      </div>
    </div>


  </div>

    <div class="container mt-auto py-3 bg-med">
      <div class="card mb-2">
        <div class="card-body">
        <p class="card-text">Note: This is a <span class="text-danger">temporary website</span> - the old website's software had become obsolete. A new website is under construction.</p> 
        </div>
      </div>
    </div>

</div>
