<footer class="footer mt-auto py-3 bg-light">

  <div class="container">

    <p class="footer-sg">St John's Church takes our duty of care for the Safeguarding of children, young people and vulnerable adults seriously.  If you have any concerns please email in confidence to <a href="mailto:safeguardingchildren@stjohnswalton.co.uk" class="text-danger">safeguardingchildren@stjohnswalton.co.uk</a>, or <a href="mailto:safeguardingadults@stjohnswalton.co.uk" class="text-danger">safeguardingadults@stjohnswalton.co.uk</a>. <a href="/safeguarding" class="text-danger">Our safeguarding policy</a>.</p>

    <p>&copy; {{ replace .Site.Copyright "{year}" now.Year }}  Charity No. 1128490</p>

 </div>

  {{- $bootstrap := resources.Get "js/bootstrap.bundle.min.js" -}}
  {{- $js := slice $bootstrap | resources.Concat "js/bundle.js" | resources.Minify -}}
  <script src="{{$js.RelPermalink}}" defer></script>

</footer>
